body {
  background-color: white;
  color: #1e1e1e;
  line-height: 1.4;
}

.header-container{
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.header-text{
  position: absolute;
  top: 31px;
  left: 119px;
  font-weight: bold;
  color: #ae0000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.body-container{
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.name-label{

}

.name-input{

}

.time-label{

}

.time-input{

}

.description-label{

}

.description-input{

}

.image-label{

}

.image-input{

}

.post-alert-button{
  background-color: #ae0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-fields-button{
  background-color: #ae0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.return-home-button{
  background-color: #ae0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}