body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Sans-Serif;
  text-align: center;
}

.header-container{

}

.header-text{

}

.body-container{

}

.name-label{

}

.name-input{

}

.time-label{

}

.time-input{

}

.description-label{

}

.description-input{

}

.
